<body>
  <div class="container">
    <img
      src="../../assets/Big_Smoke.png"
      alt="logo"
      height="250px"
      width="250px"
    />
    <header>Récuperration du compte <br />Réinitialiser mot de passe</header>
    <form [formGroup]="confirmPasswordForm">
      <div class="field">
        <input
          type="password"
          placeholder="Entrer mot de passe "
          formControlName="password"
        />
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div
              class="error-message"
              *ngIf="
                confirmPasswordForm.get('password').hasError(error.type) &&
                (confirmPasswordForm.get('password').dirty ||
                  confirmPasswordForm.get('password').touched)
              "
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="field">
        <input
          type="password"
          placeholder="Entrer mot de passe de confirmation"
          formControlName="confirmPassword"
        />
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirmPassword">
            <div
              class="error-message"
              *ngIf="
                confirmPasswordForm
                  .get('confirmPassword')
                  .hasError(error.type) &&
                (confirmPasswordForm.get('confirmPassword').dirty ||
                  confirmPasswordForm.get('confirmPassword').touched)
              "
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <pre>
        Form Error - {{ confirmPasswordForm.errors | json }}
      </pre> -->
      <button
        [disabled]="!confirmPasswordForm.valid"
        (click)="changePassword()"
      >
        Valider
      </button>
    </form>
  </div>
</body>
