<body>
  <div class="container">
    <img
      src="../../assets/Big_Smoke.png"
      alt="logo"
      height="250px"
      width="250px"
    />
    <header>Récuperration du compte <br />Réinitialiser mot de passe</header>
    <form>
      <div class="error-text"></div>
      <div class="field">
        <input type="password" placeholder="Entrer mot de passe " />
      </div>
      <div class="field">
        <input
          id="pswrd_2"
          type="password"
          placeholder="Entrer mot de passe de confirmation"
        />
      </div>
      <button>Valider</button>
    </form>
  </div>
</body>
