<div class="container">
  <div class="map_buttons">
    <a routerLink="/all/users">Google Map</a>
    <a routerLink="/all/leaflet">Leaflet map</a>
  </div>
  <div class="type_map">
    <label>Select the type of map</label><br />

    <select (change)="onSelectTypeOfMap($event.target.value)">
      <option value="" selected disabled hidden>-- Select type --</option>

      <option *ngFor="let item of typeOfMaps" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>

  <div class="search_adress">
    <label>Type a place to search</label><br />
    <input type="text" id="search_input" placeholder="Adresse de partenaire" />
  </div>
  <input type="hidden" id="loc_lat" />
  <input type="hidden" id="loc_long" />
  <div class="latlong-view" [hidden]="true">
    <p><b>Latitude:</b> <span id="latitude_view"></span></p>
    <p><b>Longitude:</b> <span id="longitude_view"></span></p>
  </div>
  <div id="googlemap"></div>
</div>
