.container {
  background-color: white;
}
.search_adress {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}
.type_map {
  margin: 20px;
}
.type_map label {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.type_map option  {
  font-size: 16px;
  font-weight: 600;
  width: 100px;
}
.type_map select option {
  font-size: 16px;
  font-weight: 600;
  width: 300px;
  text-align: center;
  text-align-last: center;
}
