<!-- <div class="container">
  <div class="col-md-9 card mx-auto d-flex flex-row px-0">
    <div class="img-left d-md-flex d-none">
      <img src="../../assets/CGX_Logo_DSC.png" alt="" />
    </div>

    <div class="card-body d-flex flex-column justify-content-center">
      <h4 class="title text-center mt-4 pb-3">Login into account</h4>
      <form class="col-sm-10 col-12 mx-auto">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="username"
            required=""
            [formControl]="loginForm.controls['username']"
          />
          <div
            *ngIf="
              loginForm.controls.username.touched &&
              loginForm.controls.username.errors?.required
            "
            class="text text-danger"
          >
            Username is required.
          </div>
        </div>
        <div class="form-group py-3">
          <input
            type="password"
            class="form-control"
            placeholder="**********"
            required=""
            [formControl]="loginForm.controls['password']"
          />
          <div
            *ngIf="
              loginForm.controls.password.touched &&
              loginForm.controls.password.errors?.required
            "
            class="text text-danger"
          >
            Password is required.
          </div>
        </div>
        <div class="">
          <input
            type="button"
            class="btn btn-outline-primary d-block w-100"
            value="Login"
            (click)="authenticate()"
          />
        </div>
      </form>
    </div>
  </div>
</div> -->
<div class="body"></div>
<div class="grad"></div>

<div class="header">
  <div>CGX<span>aero</span></div>
</div>
<br />
<div class="login">
  <input
    type="text"
    placeholder="username"
    name="user"
    required=""
    [formControl]="loginForm.controls['username']"
  /><br />
  <input
    type="password"
    placeholder="password"
    [formControl]="loginForm.controls['password']"
    name="password"
  /><br />
  <input type="button" value="Login" (click)="authenticate()" /> <br />
  <a [routerLink]="['/home']" routerLinkActive="router-link-active"
    >Go back to home page</a
  >
</div>
