<div class="body"></div>
<div class="grad"></div>

<div class="header">
  <div>CGX<span>aero</span></div>
</div>
<br />
<div class="login">
  <input
    type="text"
    placeholder="username"
    name="user"
    required=""
    [formControl]="loginForm.controls['username']"
  /><br />
  <div
    *ngIf="
      loginForm.controls.username.touched &&
      loginForm.controls.username.errors?.required
    "
    class="login_input"
  >
    Username is required
  </div>
  <input
    type="password"
    placeholder="password"
    [formControl]="loginForm.controls['password']"
    name="password"
  />
  <div
    *ngIf="
      loginForm.controls.password.touched &&
      loginForm.controls.password.errors?.required
    "
    class="login_input"
  >
    Password is required
  </div>

  <input type="button" value="Login" (click)="authenticate()" /> <br />
  <a [routerLink]="['/home']" routerLinkActive="router-link-active"
    >Go back to home page</a
  >
</div>
