:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 230px;
    height: 180px;
  }
}
.mat-divider {
  border-top-width: 0.5px;
  border-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mat-list-item {
  color: #f7f8fa !important;
  font-size: 16px;
  font-weight: bold;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: black !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #fefeff !important;
      }
    }
  }
}
.list-item-active {
  color: rgb(4, 0, 0) !important;
  ::ng-deep {
    .mat-list-item-content {
      background: rgba(8, 80, 138, 255) !important;
      &:hover {
        background: white !important;
      }
    }
  }
}
.mat-subheader {
  color: #000003;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
#logout {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  width: 90px;
  border-radius: 5%;
  font-weight: bold;
}
.button-logout {
  display: grid;
}
