<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/CGX_Logo_DSC.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>

  <div class="button-logout">
    <button id="logout" class="btn btn-light" title="logout" (click)="logout()">
      Logout
    </button>
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader class="mt-2">Menu</h2>
  <div *ngFor="let item of listMenu">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/all/{{ item.link }}"
      (click)="sendPageName(item.name)"
    >
      <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
    </a>
  </div>
</mat-nav-list>
