<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/Big_Smoke.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Menu</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/all/home">
    <mat-icon>supervised_user_circle</mat-icon> Home
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/all/dashboard"
  >
    <mat-icon>directions_car</mat-icon> Dashboard Centrale
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/all/users">
    <mat-icon>directions_car</mat-icon> Users
  </a>
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>
